@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #ff6600;
}
@theme {
  --font-raleway: "var(--font-raleway)", "sans-serif";
}
@keyframes neonRipple {
  0% {
    transform: scale(0.5);
    opacity: 0.9;
  }
  70% {
    transform: scale(3);
    opacity: 0.15;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.ripple-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  height: 180px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(255, 115, 0, 0.6);
  animation: neonRipple 2.5s linear infinite;
  z-index: -1;
}

.ripple-circle:nth-child(2) {
  animation-delay: 0.8s;
}
.ripple-circle:nth-child(3) {
  animation-delay: 1.6s;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
